@font-face {
    font-family: 'Special Elite';
    src: url('/fonts/Special_Elite/SpecialElite-Regular.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}
